@import "tailwindcss";

:root {
  --background: #f8fcff;
  /* --foreground: #171717; */
  --font-inter: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* start defind fonts */
/*-- Clash display variable font--- */
@font-face {
  font-family: clash;
  src: url("/fonts/clash/ClashDisplay-Extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: clash;
  src: url("/fonts/clash/ClashDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: clash;
  src: url("/fonts/clash/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: clash;
  src: url("/fonts/clash/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: clash;
  src: url("/fonts/clash/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: clash;
  src: url("/fonts/clash/ClashDisplay-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@theme inline {
  --color-primary-50: #faf8f2;
  --color-primary-100: #f2eee2;
  --color-primary-200: #e4dcc4;
  --color-primary-300: #d3c49e;
  --color-primary-400: #c1a876;
  --color-primary-500: #b4925b;
  --color-primary-600: #a7804f;
  --color-primary-700: #8b6843;
  --color-primary-800: #71553b;
  --color-primary-900: #5c4632;
  --color-primary-950: #312319;
  --color-text-dark: #13253d;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-clash: var(--font-clash);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #F8FCFF;
    --foreground: #171717;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
